.idea/dataSources.xml
.idea/vcs.xml
__pycache__
.idea
*.iml
*.sqlite
venv
pl
lib/liquibase
*.exe
~$*.xlsx
~$*.xlsm
~$*.xlsb
cmd/app/httplog/stub.txt
cmd/app/httplog
cmd/app/make_linux
*.bat
*.txt
*.log
